version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: vaultdrop
      POSTGRES_PASSWORD: vaultdrop
      POSTGRES_DB: vaultdrop
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  api:
    build:
      context: .
      target: api
    environment:
      VAULTDROP_ADDRESS: ":8080"
      VAULTDROP_DATABASE_URL: postgres://vaultdrop:vaultdrop@postgres:5432/vaultdrop?sslmode=disable
      VAULTDROP_REDIS_ADDR: redis:6379
      VAULTDROP_S3_ENDPOINT: minio:9000
      VAULTDROP_S3_ACCESS_KEY: minioadmin
      VAULTDROP_S3_SECRET_KEY: minioadmin
      VAULTDROP_S3_USE_SSL: "false"
      VAULTDROP_ALLOWED_TYPES: application/pdf
    depends_on:
      - postgres
      - redis
      - minio
    ports:
      - "8080:8080"

  worker:
    build:
      context: .
      target: worker
    environment:
      VAULTDROP_DATABASE_URL: postgres://vaultdrop:vaultdrop@postgres:5432/vaultdrop?sslmode=disable
      VAULTDROP_REDIS_ADDR: redis:6379
      VAULTDROP_S3_ENDPOINT: minio:9000
      VAULTDROP_S3_ACCESS_KEY: minioadmin
      VAULTDROP_S3_SECRET_KEY: minioadmin
      VAULTDROP_S3_USE_SSL: "false"
    depends_on:
      - postgres
      - redis
      - minio

volumes:
  postgres-data:
  minio-data:
